header {
    background-color: #0D6EFD;
	height: 7vh;
}

#headline {
	margin-left: 10%;
	padding:10px;
	text-align: justify;
	color:white;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
    width: 100%;
}

.greyed {
	box-shadow: 0 3px 0 0 grey;
	background: #1f1f1fa4;
	border-color: grey;
    width: 100%;
	margin-top: 15px;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;   
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #1f1f1fa4;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;   
}

#weatherToday {
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	margin: 20px;
}

#buttonColumn {
	justify-content: space-around;
}

#icon {
	display:inline-block;
}